<div class="relative">
   <!-- <loading></loading> -->
<div id="initial" class="dark:bg-gray-900 h-screen flex flex-col">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-1">      
      <div class="  py-1 px-2 flex sm:flex-row flex-col sm:space-x-6 items-center">
  <!-- <h1 class="text-2xl text-center  text-slate-500">{{ titulo() }}</h1>   -->
  <div class="w-full">
      <search-metrics  placeholder="Buscar sobre por OP" [typeSearch]="type"  />
    </div>
    </div>
    </div>
    </div>
    </div>
