@if(!trabajo()){
<div class="flex flex-col  justify-center items-center ">
  <svg
    class="animate-spin h-24 w-24 text-blue-600"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
    ></path>
  </svg>
  <div class="ml-3 text-blue-600 font-medium text-2xl">
    Cargando informacion...
  </div>
</div>
}@else {

<div class="w-full px-4 py-1 rounded-md  mx-auto mt-2">
  <div class="flex flex-col md:flex-row justify-end space-x-10">        
    <!-- Barra de acciones -->
    <div class="flex flex-wrap items-center justify-center gap-1">
      @if(estaEnAprobacion()) {
      <button
        class="px-4 py-2 bg-gray-100 text-green-600 dark:bg-gray-800 dark:text-green-400 border border-gray-200 dark:border-gray-700 rounded-md text-xs font-medium hover:bg-gray-200 dark:hover:bg-gray-700 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-green-400/50"
        (click)="aprobar()"
      >
        Aprobar
      </button>
      <button
        class="px-4 py-2 bg-gray-100 text-red-600 dark:bg-gray-800 dark:text-red-400 border border-gray-200 dark:border-gray-700 rounded-md text-xs font-medium hover:bg-gray-200 dark:hover:bg-gray-700 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-red-400/50"
        (click)="rechazar()"
      >
        Rechazar
      </button>
      } @if(estaPendiente() ){
      <button
        class="px-4 py-2 bg-gray-100 text-blue-600 dark:bg-gray-800 dark:text-blue-400 border border-gray-200 dark:border-gray-700 rounded-md text-xs font-medium hover:bg-gray-200 dark:hover:bg-gray-700 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-blue-400/50"
        (click)="guardarCambios()"
      >
        Guardar
      </button>
      <button
        class="px-4 py-2 bg-gray-100 text-green-600 dark:bg-gray-800 dark:text-green-400 border border-gray-200 dark:border-gray-700 rounded-md text-xs font-medium hover:bg-gray-200 dark:hover:bg-gray-700 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-green-400/50"
        (click)="solicitarAprobacion()"
      >
        Solicitar aprobación
      </button>
      }
    </div>
    <button
      class="flex items-center justify-center w-8 h-8 rounded-full bg-gray-100 hover:bg-gray-200 text-gray-600 hover:text-gray-800 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-gray-300"
      (click)="regresar()"
    >
      <svg
        class="w-4 h-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2.5"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>      
    </button>
  </div>
</div>
<div class="w-full  mx-auto mt-8 flex items-center justify-around">
  <h1 class="text-lg font-bold">{{ nombreTrabajo() }}</h1>
  <div >
    <div
      class="inline-block px-3  w-full  rounded-md text-md font-semibold   "
      [ngClass]="{
        'bg-blue-100 text-blue-700 border-blue-200 dark:bg-blue-900 dark:text-blue-200 dark:border-blue-700':
          estadoTrabajo() === 'Pendiente',
        'bg-green-100 text-green-700 border-green-200 dark:bg-green-900 dark:text-green-200 dark:border-green-700':
          estadoTrabajo() === 'Aceptado',
        'bg-yellow-100 text-yellow-700 border-yellow-200 dark:bg-yellow-900 dark:text-yellow-200 dark:border-yellow-700':
          estadoTrabajo() === 'En revisión',
        'bg-red-100 text-red-700 border-red-200 dark:bg-red-900 dark:text-red-200 dark:border-red-700':
          estadoTrabajo() === 'Rechazado'
      }"
    >
      @if(estadoTrabajo()==='Aceptado'){
      <div class="flex items-center space-x-2 text-green-600 dark:text-green-400 py-1 ">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
        </svg>
        <div class="flex flex-col">
          <span class="text-sm font-medium">Aprobado por {{ trabajo()?.usuario_libero }}</span>
          <span class="text-xs font-light text-gray-500 dark:text-gray-400">{{ trabajo()?.fecha_liberacion | date : "dd-MM-yyyy" }}</span>
        </div>
      </div>
      }@else{
      {{ estadoTrabajo() }}
      }
    </div>
  </div>
</div>
<!-- Contenedor de rutas y elementos -->
<div class="max-w-7xl mx-auto  px-5 overflow-y-auto mt-5 ">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 py-4 px-4 border-2 rounded-md bg-slate-300">
    @for(ruta of rutas();track ruta.componente) {
    <div class="bg-white border h-auto border-slate-400 dark:bg-slate-800 dark:border-white rounded-lg shadow">
      <div class="flex justify-start flex-row w-full space-x-2 items-center text-[9px] mb-2 bg-slate-600 text-white p-2 rounded-t-md">    
        <p-checkbox           
          [ngModel]="ruta.aplica == '1' ? true : false"
          (onChange)="onAplicaRutaChange(ruta, $event)"
          [binary]="true" 
          [disabled]="estaAprobado() || estaEnAprobacion()">
        </p-checkbox>
        <label>Forma parte del marbete</label>                     
      </div>
      <div class="px-4 w-full"
        [ngClass]="{
          'opacity-50 cursor-not-allowed': ruta.aplica=='0'
        }">
        <div class="flex flex-row justify-between w-full border-b mb-2">        
          <h2 class="text-lg font-bold mb-2 text-slate-800 dark:text-slate-100 text-center">
            {{ ruta.componente }}
          </h2>
          <div>
            <p-checkbox
              (onChange)="onMarcar($event, ruta)"
              [binary]="true"
              [disabled]="estaAprobado() || estaEnAprobacion() || ruta.aplica == '0'">
            </p-checkbox>
          </div>
        </div>

        <div class="flex items-center justify-between w-full mb-2 font-bold text-xs">
          <span class="text-slate-600 dark:text-slate-300">Elemento</span>
          <span class="text-slate-600 dark:text-slate-300">Aplica</span>
        </div>

        @for(item of ruta.ruta;track item.descripcion){
        <div class="flex items-center justify-between border-b last:border-b-0 w-full">
          <span class="text-slate-700 text-xs dark:text-slate-200">
            {{item.descripcion}}
          </span>
          <p-checkbox
            [disabled]="estaAprobado() || estaEnAprobacion() || ruta.aplica == '0'"
            [ngModel]="item.aplica == 1 ? true : false"
            (onChange)="onAplicaChange(ruta, item, $event)"
            class="toogle-liberacion"
            [binary]="true">
          </p-checkbox>
        </div>
        }
      </div>      
    </div>
    }
  </div>  
</div>




}
