<div id="initial" class="dark:bg-gray-900 h-screen">

    @if(!verPendientes()){        
    <div class="grid grid-cols-[40%_60%] grid-rows-1 gap-2">
        <ejs-grid #grid [dataSource]='ordenesMetrics()' 
        (recordClick)='onCellClick($event)'
         [textWrapSettings]='wrapSettings' [filterSettings]="filterSettings " [allowTextWrap]='true' [enableAdaptiveUI]='false' [enableHover]='true' rowHeight='30' (dataBound)='dataBound()'
            [allowExcelExport]='true' [height]="heightGrid" allowReordering='true' [allowFiltering]=true allowPaging="true " allowResizing="true" allowSorting="true" [pageSettings]='pageSettings'>
            <e-columns>
                <e-column field='NoOrden' [allowFiltering]="true" headerText='Orden' width=40>
     <ng-template #template let-data>
                                    <!-- <div class="flex flex-col justify-start items-start"> -->
                                        <span class="font-bold text-blue-600 cursor-pointer hover:underline" >{{data.NoOrden}}</span>
                                    <!-- </div> -->
                                </ng-template>
                </e-column>
                <e-column field='NombreTrabajo' [allowFiltering]="true" headerText='Trabajo' width="10">
                </e-column>
                <!-- <e-column field='NombreCliente' [allowFiltering]="true" headerText='Cliente' width=100>
                </e-column> -->
                <e-column field='Vendedor' [allowFiltering]="true" width=50>
                </e-column>
                <e-column field='CantidadEntregar' textAlign="Right" [allowFiltering]="true" headerText='Cant' width=50>
                    <ng-template #template let-data>                        
                            <span>{{data.CantidadEntregar | number}}</span>
                        
                    </ng-template>
                </e-column>           
            </e-columns>
        </ejs-grid>

        <detalle-produccion 
        [orden]="currentOrder()" 
              [detalles]="currentDetail()" 
              [selectedId]="selectedMuestra()?.id_produccion || null" 
             (selectMuestra)="onSelectMuestra($event)"              
             (verHistorial)="onVerHistorial($event)" 
             (cerrarMuestra)="cerrarMuestra($event)"
            (onChange)="change($event.id, $event.value, $event.tipo)"
            
            >
        </detalle-produccion>
    </div>
    } 
    
    @if(verPendientes()){
    <div class="grid grid-cols-[40%_60%] grid-rows-1 gap-2">
        <div class="dark:bg-gray-900 h-screen p-1">
            <div class="border-b border-gray-200 dark:border-gray-700">
                <nav class="flex  space-x-4" aria-label="Tabs">
                    <button class="p-1 text-sm font-medium text-gray-900 dark:text-gray-100 border-b-2 border-blue-500 dark:border-blue-400" [ngClass]="{'border-blue-500 text-blue-600': activeTab === 'tab1', 'border-transparent text-gray-500 dark:text-gray-400': activeTab !== 'tab1'}"
                        (click)="activeTab = 'tab1'">
            Ordenes Pendientes
          </button>
                    <button class="p-1 text-sm font-medium text-gray-900 dark:text-gray-100 border-b-2 border-transparent" [ngClass]="{'border-blue-500 text-blue-600': activeTab === 'tab2', 'border-transparent text-gray-500 dark:text-gray-400': activeTab !== 'tab2'}" (click)="activeTab = 'tab2'">
            Procesos pendientes
          </button>
                </nav>
            </div>
            <div class="mt-3">
                <div *ngIf="activeTab === 'tab1'" class=" bg-white dark:bg-gray-800 rounded-lg shadow">
                    <ejs-grid #grid [dataSource]='ordenesMetrics()'
                     (recordClick)='onCellClick($event)'
                     [textWrapSettings]='wrapSettings'  [filterSettings]="filterSettings " [allowTextWrap]='true' [enableAdaptiveUI]='false' [enableHover]='true' rowHeight='30' (dataBound)='dataBound()'
                        [allowExcelExport]='true' [height]="heightGrid" allowReordering='true' [allowFiltering]=true allowPaging="true" allowResizing="true" allowSorting="true" [pageSettings]='pageSettings'
                        >
                        <e-columns>
                            <e-column field='NoOrden' [allowFiltering]="true" headerText='Orden' width="20">
                                <ng-template #template let-data>                            
                                        <span class="font-bold text-blue-600 cursor-pointer hover:underline" >{{data.NoOrden}}</span>                            
                                </ng-template>
                            </e-column>
                            <e-column field='NombreTrabajo' [allowFiltering]="true" headerText='Trabajo' width="35">
                                <ng-template #template let-data>
                                    <div>
                                        <span >{{data.NombreTrabajo | truncate:25}}</span>                                        
                                    </div>
                                </ng-template>
                            </e-column>                                                        
                            <e-column field='tieneInfo' headerText="Tiene info" textAlign="Center" [allowFiltering]="false" width="20">
                                <ng-template #template let-data>
                                    <div class="flex  items-center justify-center w-full">
                                        @if(data.tieneInfo == '1') {
                                        <div class="flex flex-row w-full justify-start gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-yellow-300" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="10" />
                      </svg> SI
                                        </div>
                                        }@else {
                                        <div class="flex flex-row w-full justify-start gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-red-600 " viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="10" />
                      </svg> NO
                                        </div>
                                        }
                                    </div>
                                </ng-template>                                
                            </e-column>
                            <!-- <e-column field='tieneInfo' headerText="omisiones" textAlign="Center" [allowFiltering]="false" width="40">
                                <ng-template #template let-data>
                                    <div class="flex  items-center justify-center w-full">
                                        Pendiente                                      
                                        
                                    </div>
                                </ng-template>                                
                            </e-column> -->


                            <e-column  [allowFiltering]="true" headerText='Metrics' width="50">
                                <ng-template #template let-data>
                                    <div class="flex flex-col p-1">
                                        <button  (click)="actualizarProduccionMetrics(data)" class="px-2 py-1 bg-blue-500 hover:bg-blue-600 text-white rounded">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"/>
                                            </svg>
                                        </button>
                                    </div>
                                </ng-template>
                            </e-column>


                        </e-columns>
                    </ejs-grid>
                </div>
                <div *ngIf="activeTab === 'tab2'" class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow h-full">
                    <p class="text-gray-700 dark:text-gray-300 text-2xl font-semibold mb-4 p-2">
                        Aquí se mostrarán los procesos pendientes. Actualmente no hay datos para mostrar.
                    </p>

                </div>
            </div>
        </div>
        <div>
            <div class="py-1 px-2 w-full">
                <search-metrics [typeSearch]="type" placeholder="Registrar OP" (onSelectOrder)="onSelectOrder($event)"></search-metrics>
            </div>
            <detalle-produccion [orden]="currentOrder()" [detalles]="currentDetail()" [selectedId]="selectedMuestra()?.id_produccion || null" (selectMuestra)="onSelectMuestra($event)" (verHistorial)="onVerHistorial($event)" (cerrarMuestra)="cerrarMuestra($event)"                
                (onChange)="change($event.id, $event.value, $event.tipo)">
            </detalle-produccion>
        </div>
    </div>
    }

</div>
<!-- Usa el nuevo componente de diálogo -->
@if(selectedMuestra()){
<registro-muestra [muestra]="selectedMuestra()" (onClose)="onCloseDialog()" (onVerHistorial)="onVerHistorial($event)" (onSave)="onSaveMuestra($event)">
</registro-muestra>
}
<p-dialog header="Historial de Muestras" [(visible)]="mostrarModalBitacora" [modal]="true" [style]="{width: '60vw'}">
    <div class="flex flex-row  justify-between gap-4">
        @if(bitacoraMuestras()?.trazo !=null){
        <div class="flex items-center w-1/3 p-4 bg-gradient-to-r from-blue-100 to-blue-50 dark:from-blue-900 dark:to-blue-800 rounded-lg shadow-md">
            <div class="flex flex-col">
                <span class="text-xs font-bold text-gray-600 dark:text-gray-400">{{ bitacoraMuestras()?.trazo!.descripcion
          }}</span>
            </div>
            <div class="ml-auto text-xs text-gray-500 dark:text-gray-400">
                {{ bitacoraMuestras()?.trazo!.fecha_registro | date: 'dd-MM-yyyy hh:mm a' }}
            </div>
        </div>
        } 
        @if(bitacoraMuestras()?.voBo != null) {
        <div class="flex items-center w-1/3 p-4 bg-gradient-to-r from-green-100 to-green-50 dark:from-green-900 dark:to-green-800 rounded-lg shadow-md">
            <div class="flex flex-col">
                <span class="text-xs font-bold  text-gray-600 dark:text-gray-400">{{ bitacoraMuestras()?.voBo!.descripcion
          }}</span>
            </div>
            <div class="ml-auto text-xs text-gray-500 dark:text-gray-400">
                {{ bitacoraMuestras()?.voBo!.fecha_registro | date: 'dd-MM-yyyy hh:mm a' }}
            </div>
        </div>
        }
        @if(bitacoraMuestras()?.carta != null) {
            <div class="flex items-center w-1/3 p-4 bg-gradient-to-r from-purple-100 to-purple-50 dark:from-purple-900 dark:to-purple-800 rounded-lg shadow-md">
                <div class="flex flex-col">
                    
                    <span class="text-xs font-bold text-gray-600 dark:text-gray-400">{{ bitacoraMuestras()?.carta!.descripcion }}</span>
                </div>
                <div class="ml-auto text-xs text-gray-500 dark:text-gray-400">
                    {{ bitacoraMuestras()?.carta!.fecha_registro | date: 'dd-MM-yyyy hh:mm a' }}
                </div>
            </div>
            }
        
    </div>
    <ng-container *ngIf="bitacoraMuestras() && bitacoraMuestras()!.muestras.length > 0; else noData">
        <table class="table w-full border-collapse rounded-lg overflow-hidden shadow-md">
            <thead>
                <tr class="bg-gray-100 dark:bg-gray-700">
                    <th class="px-4 py-2 text-left text-gray-700 dark:text-gray-300">Fecha</th>
                    <th class="px-4 py-2 text-left text-gray-700 dark:text-gray-300">Supervisor</th>
                    <th class="px-4 py-2 text-left text-gray-700 dark:text-gray-300">Operador</th>
                    <th class="px-4 py-2 text-left text-gray-700 dark:text-gray-300">Muestra</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let muestra of bitacoraMuestras()!.muestras" class="even:bg-gray-50 odd:bg-white dark:even:bg-gray-800 dark:odd:bg-gray-900">
                    <td class="px-4 py-2 text-gray-800 dark:text-gray-200">{{ muestra.fecha_registro | date: 'dd-MM-YYYY hh:mm' }}
                    </td>
                    <td class="px-4 py-2">
                        <div class="flex items-center">
                            <img [src]="muestra.avatarSupervisor " alt="Supervisor Avatar" class="w-10 h-10 rounded-full border border-gray-300 dark:border-gray-600">
                            <span class="ml-2 text-gray-800 dark:text-gray-200">{{ muestra.nombreSupervisor }}</span>
                        </div>
                    </td>
                    <td class="px-4 py-2">
                        <div class="flex items-center">
                            <img [src]="muestra.avatarOperador " alt="Operador Avatar" class="w-10 h-10 rounded-full border border-gray-300 dark:border-gray-600">
                            <span class="ml-2 text-gray-800 dark:text-gray-200">{{ muestra.nombreOperador }}</span>
                        </div>
                    </td>
                    <td class="px-4 py-2 text-gray-800 dark:text-gray-200">{{ muestra.muestraRegistrada }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #noData>
        <p class="text-center text-gray-500 dark:text-gray-400">No hay datos disponibles en la bitácora.</p>
    </ng-template>
</p-dialog>