
<div class="chat-container">
    <div class="chat-toggle-btn" id="chatToggleBtn">
    
<i class="fa-solid fa-question"></i>

        <!-- <i class="fas fa-comment"></i> -->
    </div>

    <div class="chat-box" id="chatBox">
        <div class="chat-header">

            <span id="asistenteTitulo" class="text-center">Asistente IA

            </span>
            <i class="fas fa-times" id="closeChat"></i>

        </div>

        <div class="chat-body" id="chatBody">


        </div>

        <div class="chat-footer">
            <div class="input-group">
                <textarea id="messageInput" class="message-input" rows="2"
                    placeholder="Escribe tu mensaje aquí..."></textarea>
                <button id="sendBtn" class="send-btn">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
            <div class="mt-2" style="font-size: 10px; color: #666;">
                <strong>Nota:</strong> Este asistente utiliza IA para responder preguntas. Las respuestas generadas por IA pueden no ser precisas o confiables. Por favor, verifica la información antes de tomar decisiones basadas en ella.
</div>
        </div>
    </div>
</div>
<div style="display:none">
    
    <div id="username">{{usuario()!.login}}</div>
    <div id="personal">{{usuario()!.personal}}</div>
    <div id="id_usuario">{{usuario()!.personal}}</div>
    <div id="asistantId">{{idAsistente}}</div>
</div>