<div class="w-full h-fit border-2 border-spacing-2 ">            
    <div>
        <ejs-grid #grid [dataSource]='detalles' [textWrapSettings]='wrapSettings'   [filterSettings]="filterSettings " [allowTextWrap]='true'
        [enableAdaptiveUI]='false' [enableHover]='true' rowHeight='10' (dataBound)='dataBound()'
        [allowExcelExport]='true' [height]="heightGrid" allowReordering='true' [allowFiltering]=true
        allowPaging="true " allowResizing="true" allowSorting="true" [pageSettings]='pageSettings'>
        <e-columns>
            <e-column field='orden_metrics' [allowFiltering]="true" headerText='Orden' width=100></e-column>
            <e-column field='proceso' [allowFiltering]="true"  width=100></e-column>
            <e-column field='componente' [allowFiltering]="true"  width=100></e-column>
            <e-column field='pliego' [allowFiltering]="true"  width=100></e-column>
            <e-column field='entrada' [allowFiltering]="true"  width=100></e-column>
            <e-column field='tiros' [allowFiltering]="true" textAlign="Right"  width=100>
                <ng-template #template let-data>
                    <div class="flex flex-col">
                        <span>{{data.tiros | number}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='muestra' [allowFiltering]="true" textAlign="Right" headerText='Muestra requerida'  width=100>
                <ng-template #template let-data>
                    <div class="flex flex-col">
                        <span>{{data.muestra | number}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='acumulado' [allowFiltering]="true" textAlign="Right"  width=100>
                <ng-template #template let-data>
                    <div class="flex flex-col">
                        <span>{{data.acumulado | number}}</span>
                    </div>
                </ng-template>

            </e-column>
            <e-column [allowFiltering]="false"  textAlign="Center" width=100  headerText='VoBo' >
                <ng-template #template let-detalle>
                    <input type="checkbox" [id]="detalle.id_produccion" [disabled]="detalle.id_estado != '1'"  [(ngModel)]="detalle.voBo" (change)="onVoBoChange(detalle.id_produccion, $event)" class="cursor-pointer" />
                </ng-template>                
            </e-column>
            <e-column [allowFiltering]="false"  width=100  headerText='Trazo' textAlign="Center" >
                <ng-template #template let-detalle>
                    <input type="checkbox" [disabled]="detalle.id_estado != '1'"  [(ngModel)]="detalle.trazo" (change)="onTrazoChange(detalle.id_produccion, $event)" class="cursor-pointer" />
                </ng-template>                
            </e-column>
            <e-column [allowFiltering]="false"  width=100 >
                <ng-template #template let-detalle>                    
                    @if(detalle.id_estado=="1"){
                        <button class="bg-blue-500 m-1 text-white px-2 py-1 rounded hover:bg-blue-600"
                            (click)="selectMuestra.emit(detalle)">Muestra</button>
                    }@else{
                        <div class="text-gray-500 px-2 py-1 dark:text-gray-400">Cerrado</div>
                    }
                </ng-template>
            </e-column>
            <e-column [allowFiltering]="false"  width=100 >
                <ng-template #template let-detalle>
                    @if(detalle.id_estado=="1"){
                        <button class="bg-pink-500 text-white px-2 py-1 rounded hover:bg-pink-600"
                            (click)="cerrarMuestra.emit(detalle.id_produccion)">Finalizar</button>
                        }@else{
                        <div class="text-green-500 px-2 py-1 dark:text-green-400">Finalizado</div>
                        }
                </ng-template>
            </e-column>            
        </e-columns>        
    </ejs-grid>
    </div>

</div>