 <div class="relative">

  @if(cargando()){
<loading > </loading>
  }
 @else{
<div id="initial" class="flex flex-col max-w-7xl mx-auto">
    <div class="py-1 px-2 flex sm:flex-row flex-col sm:space-x-6">
        <h1 class="text-2xl text-slate-500" style="white-space: nowrap">
        Omisiones
      </h1>
      
      </div>
      <div class="px-1 overflow-auto">
        <ejs-grid
        #grid
        [dataSource]="ordenesOmitidas()"
        [textWrapSettings]="wrapSettings"
        [filterSettings]="filterSettings"
        [allowTextWrap]="true"
        [enableAdaptiveUI]="false"
        [enableHover]="true"
        rowHeight="30"
        (dataBound)="dataBound()"
        [allowExcelExport]="true"
        [height]="heightGrid"
        allowReordering="true"
        [allowFiltering]="true"
        allowPaging="true "
        allowResizing="true"
        allowSorting="true"        
        [pageSettings]="pageSettings"
      >
      <e-columns>
        <e-column field="orden" headerText="Orden" textAlign="Center" width="120" >
          <ng-template #template let-data>
            <div (click)="definirOrden(data)" class="text-wrap text-blue-600 cursor-pointer">{{data.orden  }}</div>
          </ng-template>
        </e-column>
        <e-column field="Trabajo" headerText="Trabajo" width="200" >
          <ng-template #template let-data>
            <div class="text-wrap">{{data.Trabajo | truncate:25 }}</div>
            </ng-template>
        </e-column>
        <e-column field="Cliente" headerText="Cliente" width="150" >
          <ng-template #template let-data>
            <div class="text-wrap">{{data.Cliente | truncate:25 }}</div>
          </ng-template>
        </e-column>
        <e-column field="tipo" headerText="Tipo" width="150" >
          <ng-template #template let-data>
            <div class="text-wrap">{{data.tipo}}</div>
          </ng-template>
        </e-column>
        <e-column field="fechaPlaca" [allowFiltering]="false" headerText="Fecha placa" width="150" format="yMd" ></e-column>
      </e-columns>
      </ejs-grid>
    </div>      
    </div>
} 
    </div>

      
