<div class="flex flex-col px-2">

  <p-autoComplete [(ngModel)]="valorQuery" styleClass="w-full" baseZIndex="9999" 
  placeholder="Buscar OP" 
  lazy="true"
  scrollHeight="500px" 
  (onSelect)="onSelect($event)" 
  delay="500"
  inputStyleClass="pl-16   rounded-lg shadow-md bg-transparent  w-full outline-none text-sm  "
  [emptyMessage]="cargandoBusqueda()?'Buscando':'No se encontraron resultados'" field="op"
  [suggestions]="OPsBusqueda()" (completeMethod)="OnQueryChanged()">
  <ng-template let-op pTemplate="item">
    <div class="grid grid-cols-2  items-center cursor-pointer rounded-lg p-1  text-center">
      <div class="flex justify-start items-center text-gray-900 text-sm font-semibold">
        <div class="flex space-x-2">
          <div class="text-gray-800 text-sm  font-bold ">
            {{op.NoOrden}}
          </div>
          <div class="text-gray-600 text-sm  font-medium font-roboto">
            {{op.NombreTrabajo}}
          </div>        
          <div class="text-gray-700 text-sm font-light">
            {{op.CantidadEntregar | number:'1.0-0'}} piezas
          </div>        
        </div>      
      </div>        
    </div>
  </ng-template>
  </p-autoComplete>
</div>
