<div class="flex flex-col  ">
  <p-autoComplete [(ngModel)]="valorQuery" styleClass="w-full " baseZIndex="9999"
  [placeholder]="placeholder()"
  lazy="true"
  scrollHeight="500px" 
  (onSelect)="onSelect($event)" 
  delay="500"
  inputStyleClass="pl-16   rounded-lg shadow-md bg-transparent  w-full outline-none text-sm  "
  [emptyMessage]="cargandoBusqueda()?'Buscando':'No se encontraron resultados'" field="op"
  [suggestions]="OPsBusqueda()" (completeMethod)="OnQueryChanged()">
  <ng-template let-op pTemplate="item">
    <div class="cursor-pointer rounded-lg p-1 w-full max-w-full">
      <div class="flex items-center gap-2 text-gray-900 text-sm font-semibold w-full min-w-0">
          @if(esBusquedaConGavetaAsignada()){
             @if(op.no_gaveta) {
              <img [src]="gavetaAsignadaSvg" alt="Gaveta asignada" class="w-6 h-6 shrink-0" />
             }@else{
              <img [src]="gavetaSinAsignarSvg" alt="Gaveta sin asignar" class="w-6 h-6 shrink-0" />
             }
          }
          <div class="dark:text-white text-sm font-bold shrink-0">
            {{op.NoOrden}}
          </div>
          <div class="dark:text-white text-sm font-medium font-roboto truncate min-w-0 flex-1" [title]="op.NombreTrabajo">
            {{op.NombreTrabajo}}
          </div>
          <div class="dark:text-white text-sm font-light shrink-0 whitespace-nowrap">
            {{op.CantidadEntregar | number:'1.0-0'}} piezas
          </div>
      </div>
    </div>
  </ng-template>
  </p-autoComplete>
</div>

