<!-- <pre class="h-96 overflow-auto bg-gray-100 dark:bg-slate-900 p-4 rounded-lg shadow">
    {{
        rutas()| json
    }}
</pre>
 -->


    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 h-auto overflow-auto">
  <div *ngFor="let ruta of rutas(); let i = index" class="bg-white h-auto  dark:bg-slate-800 rounded-lg shadow p-2">
    <h2 class="text-lg font-bold mb-2 text-slate-800 dark:text-slate-100">
      {{ ruta.componente }}
    </h2>
   
    <div *ngFor="let item of ruta.ruta; let j = index" class="flex items-center  justify-between  border-b last:border-b-0">
      <span class="text-slate-700 dark:text-slate-200">{{ item.descripcion }}</span>

        <p-togglebutton class="min-w-20 rounded-lg " size="small" (onChange)="onAplicaChange(ruta, item,$event)" [ngModel]="item.aplica" onLabel="Aplica " offLabel="No Aplica" />
     
    </div>
  </div>
</div>
<button
  class="mt-6 px-6 py-2 bg-blue-600 text-white rounded shadow hover:bg-blue-700"
  
>
  Guardar Cambios
</button>