<div
class="fixed inset-0 flex flex-col space-y-6 justify-center items-center bg-transparent dark:bg-gray-900 z-50"
>
<svg
  class="animate-spin h-24 w-24 text-blue-600"
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
>
  <circle
    class="opacity-25"
    cx="12"
    cy="12"
    r="10"
    stroke="currentColor"
    stroke-width="4"
  ></circle>
  <path
    class="opacity-75"
    fill="currentColor"
    d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
  ></path>
</svg>
<div class="text-blue-600 font-medium text-2xl">Cargando datos...</div>
</div>