<div id="initial" class="dark:bg-gray-900">
    <h1>Toma de muestras</h1>
    <!-- <div class="py-1 px-2 w-full">
        <h1 class="dark:text-gray-200">Buscar Metrics</h1>
        <search-metrics [typeSearch]="type" (onSelectOrder)="onSelectOrder($event)"></search-metrics>
    </div> -->
    @if(currentOrder() !=null) {
    @if(currentDetail().length == 0)
    {
    <div
        class="w-full h-fit overflow-auto border-2 border-spacing-2 border-gray-300 dark:border-gray-700 rounded-lg bg-white dark:bg-gray-800 p-2">
        <p class="text-center text-gray-500 dark:text-gray-400">No se encontraron resultados</p>
    </div>
    }
    @else
    {
    <div class="w-full  
overflow-y-auto border-gray-300 dark:border-gray-700 rounded-lg bg-white dark:bg-gray-800 p-2">
        <table class="mx-auto w-fit bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 ">
            <thead>
                <tr class="bg-gray-100 dark:bg-gray-700 text-start">
                    <th class="py-2 px-8 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300">Proceso</th>
                    <th class="py-2 px-4 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300">Componente</th>
                    <th class="py-2 px-4 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300">Pliego</th>
                    <th class="py-2 px-4 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300">Entrada</th>
                    <th class="py-2 px-4 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300">Tiros</th>
                    <th class="py-2 px-4 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300">Muestra</th>
                    <th class="py-2 px-4 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300">Acumulado</th>
                    <th class="py-2 px-4 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300">VoBo</th>
                    <th class="py-2 px-4 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300">Estado</th>
                    <th class="py-2 px-4 border-b dark:border-gray-600 text-gray-700 dark:text-gray-300"></th>
                </tr>
            </thead>
            <tbody>
                @for(detalle of currentDetail(); track detalle.id_produccion ) {
                <tr class="text-center hover:bg-blue-50 dark:hover:bg-blue-900/30 cursor-pointer"
                    [ngClass]="{'bg-blue-100 dark:bg-blue-800/30': selectedMuestra()?.id_produccion === detalle.id_produccion}">
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">{{ detalle.proceso}}
                    </td>
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">{{
                        detalle.componente}}</td>
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">{{ detalle.pliego}}
                    </td>
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">{{ detalle.entrada}}
                    </td>
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">{{ detalle.tiros}}
                    </td>
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">{{ detalle.muestra}}
                    </td>
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">{{
                        detalle.acumulado}}</td>
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">
                        <div class="flex items-center">
                            <div class="relative inline-block">
                                <input type="checkbox" [id]="detalle.id_produccion"
                                    [disabled]="detalle.id_estado != '1'" [(ngModel)]="detalle.voBo"
                                    (change)="onChangeVoBo(detalle.id_produccion,$event)" class="peer sr-only">
                                <label [for]="detalle.id_produccion" [ngClass]="{
                                            'cursor-not-allowed opacity-60': detalle.id_estado != '1',
                                            'cursor-pointer': detalle.id_estado == '1'
                                        }"
                                    class="flex h-5 w-5 items-center justify-center rounded border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 transition-colors peer-checked:bg-blue-500 dark:peer-checked:bg-blue-600 peer-checked:border-blue-500 dark:peer-checked:border-blue-600 peer-focus:ring-2 peer-focus:ring-blue-500 dark:peer-focus:ring-blue-400 peer-focus:ring-offset-2 dark:peer-focus:ring-offset-gray-800">
                                    <svg class="h-3 w-3 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">
                        @if(detalle.id_estado=="1"){
                        <button class="bg-blue-500 text-md text-white px-1 rounded hover:bg-blue-600"
                            (click)="cerrarMuestra(detalle.id_produccion)">Finalizar</button>
                        }@else{
                        <span class="text-green-500 dark:text-green-400">Finalizado</span>
                        }

                    </td>
                    <td class="p-2 border-b dark:border-gray-600 text-gray-800 dark:text-gray-200">
                        @if(detalle.id_estado=="1"){
                        <button class="bg-blue-500 text-md text-white px-2 mx-2 rounded hover:bg-blue-600"
                            (click)="onSelectMuestra(detalle)">Registrar Muestra</button>
                        }@else{
                        <span class="text-gray-500 dark:text-gray-400">Cerrado</span>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
        </div>
    }
    }
</div>
<!-- Usa el nuevo componente de diálogo -->
@if(selectedMuestra()){
<registro-muestra [muestra]="selectedMuestra()" (onClose)="onCloseDialog()"
    (onSave)="onSaveMuestra($event)"></registro-muestra>
}