<div class="relative">
   <!-- <loading></loading> -->
<div id="initial" class="dark:bg-gray-900 h-screen">
   <div class="w-full">
      <search-metrics  placeholder="Buscar sobre por OP" [typeSearch]="type" 
      (onSelectOrder)="onSelectOrder($event)" 
      ></search-metrics>
    </div>

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">      
        <ejs-grid #grid 
        [dataSource]='ordenes()'                  
         [filterSettings]="filterSettings " [allowTextWrap]='true' [enableAdaptiveUI]='false' [enableHover]='true' rowHeight='30' (dataBound)='dataBound()'
            [allowExcelExport]='true' [height]="heightGrid" allowReordering='true' [allowFiltering]=true allowPaging="true " allowResizing="true" allowSorting="true">
            <e-columns>
                <e-column field='NoOrden' headerText='OP' width='120' textAlign='Center' ></e-column>
                <e-column field='descripcion' headerText='Estado' width='120'  >
                  <ng-template #template let-data>
  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
    [ngClass]="{
      'bg-green-100 text-green-800': data.id_estado == 1,
      'bg-yellow-100 text-yellow-800': data.id_estado == 2,
      'bg-red-100 text-red-800': data.id_estado == 3
    }"
  >
    {{ data.descripcion }}
  </span>
</ng-template>
                </e-column>
                <e-column field='NombreTrabajo' headerText='Cliente' width='150' textAlign='Left' ></e-column>
                <e-column field='Vendedor' headerText='Vendedor' width='200' textAlign='Center' ></e-column>                
                <e-column >
                  <ng-template #template let-data>
                    <a  class="flex items-center justify-start gap-1 text-blue-500 hover:underline hover:cursor-pointer">
                      <!-- Icono Detalle (histórico/archivo) -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <rect x="4" y="4" width="16" height="16" rx="3" stroke="currentColor" stroke-width="2" fill="none"/>
                        <path d="M8 10h8M8 14h5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                      </svg>
                      Detalle
                    </a>
                  </ng-template>
                </e-column>
                </e-columns>
         </ejs-grid>
            </div>
    
</div>
</div>