<aside id="logo-sidebar" class=" fixed top-0 left-0 z-40 w-44 h-screen  pt-14 transition-transform -translate-x-full  border border-gray-300  sm:translate-x-0 bg-white dark:bg-gray-700 dark:border-gray-600" aria-label="Sidebar">
    <div class="h-full px-2 pb-2 overflow-y-auto   pt-5 dark:bg-dark transition-colors duration-300">
       <ul class="space-y-1 ">        
         @for(ruta of rutas(); track ruta.nombre) {
             <li>
            <a  [routerLink]="ruta.path"    class="pathItem flex items-center p-1 item cursor-pointer" routerLinkActive="selected">
               <img [src]="ruta.icono" class="w-8 h-8 svg-icon"   />
               <span class="ms-3">{{ruta.nombre}}</span>
            </a>
         </li>
         }                   
       </ul>
    </div>
 </aside>
 
