<div id="initial" class="min-h-screen bg-gray-50 dark:bg-gray-900">
    <!-- Header minimalista -->
    <div class="bg-white dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
        <div class="max-w-7xl mx-auto  ">
            <div class="flex justify-between items-center py-2">       
                <div class="flex items-center space-x-4">                    
                    <h1 class="text-2xl font-light text-gray-900 dark:text-gray-100">
                        {{ modulo()=="activas" ? 'Control de elementos' : "Histórico control de elementos" }}
                    </h1>
                </div>              
                @if(modulo() == "activas") {
                    <button (click)="navigateToNueva()" class="inline-flex items-center px-2 py-1 text-sm  text-white bg-blue-600 hover:bg-blue-700 rounded-lg transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                        <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                        </svg>
                        Nueva solicitud
                    </button>
                }        
            </div>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
       
        <ejs-grid #grid [dataSource]='solicitudes()' [filterSettings]="filterSettings" 
                        [allowTextWrap]='true' [enableAdaptiveUI]='false' [enableHover]='true'
                        (dataBound)='dataBound()' [allowExcelExport]='true' [height]="heightGrid"
                        allowReordering='true' [allowFiltering]='true'
                        allowPaging="true " allowResizing="true" allowSorting="true" 
                        [pageSettings]='pageSettings'
                        >
            <e-columns>                
                <e-column field='NoOrden' headerText='OP' width='100'></e-column>
                <e-column field='nombreTrabajo' headerText='Trabajo' width='100'></e-column>
                <e-column field='Vendedor' headerText='Vendedor' width='100'></e-column>
                <e-column field='NombreCliente' headerText='NombreCliente' width='100'></e-column>                                
                <e-column  headerText='Detalle'  allowFiltering="false" width='150'>
                    <ng-template #template let-data>
                        <a (click)="verDetallePrestamo(data.NoOrden)" class="flex items-center justify-start gap-1 text-blue-500 hover:underline hover:cursor-pointer">
                            <!-- Icono Detalle (histórico/archivo) -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <rect x="4" y="4" width="16" height="16" rx="3" stroke="currentColor" stroke-width="2" fill="none"/>
            <path d="M8 10h8M8 14h5" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
                            Detalle
                        </a>
                    </ng-template>
                </e-column>
                @if(modulo() == "activas") {
                <e-column  headerText=''  allowFiltering="false" width='150'>
                    <ng-template #template let-data>
                        <a (click)="irDetalle(data)" class="flex items-center justify-center gap-1 text-blue-500 hover:underline hover:cursor-pointer">
                            <!-- Icono Devolución (flecha circular) -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                      d="M4 4v5h.582M20 20v-5h-.581M19.418 9A7.978 7.978 0 0 0 12 4c-3.042 0-5.824 1.721-7.418 5M4.582 15A7.978 7.978 0 0 0 12 20c3.042 0 5.824-1.721 7.418-5"/>
                            </svg>
                            Devolución
                        </a>
                    </ng-template>
                </e-column>
              }
            </e-columns>
        </ejs-grid>

        
    @if(prestamos().length > 0){
     <div  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-40 px-2 ">
            <div class="bg-white dark:bg-gray-900 rounded-xl shadow-xl max-w-5xl w-full p-6 relative dark:border dark:border-white" style="max-height: 55vh;">
              <button 
                class="sticky top-0 right-0 float-right z-10 bg-white dark:bg-gray-900 rounded-full p-1 mt-[-1rem]  text-gray-400 hover:text-red-500 text-2xl font-bold transition"
                (click)="prestamos().length = 0"
                aria-label="Cerrar">&times;</button>
              <h2 class="text-xl font-semibold mb-6 text-gray-800 dark:text-gray-100 tracking-tight">Prestamo de elementos</h2>
              <div class="overflow-y-auto " style="max-height: calc(45vh - 3rem);">
                <table class="min-w-full border-2 ">
                  <thead class="sticky top-0 bg-white dark:bg-gray-900 z-10 border-b border-gray-200 dark:border-gray-700">
                    <tr class="border-2 px-2">
                      <th class="px-4 py-2 text-xs font-bold text-gray-500 dark:text-gray-400 text-start">Solicitante</th>
                      <th class="px-4 py-2 text-xs font-bold text-gray-500 dark:text-gray-400 text-start">Componente</th>
                      <th class="px-4 py-2 text-xs font-bold text-gray-500 dark:text-gray-400 text-start">Elemento</th>
                      <th class="px-4 py-2 text-xs font-bold text-gray-500 dark:text-gray-400 text-start">Fecha registro</th>                      
                      <th class="px-4 py-2 text-xs font-bold text-gray-500 dark:text-gray-400 text-start">Usuario que recibio</th>
                      <th class="px-4 py-2 text-xs font-bold text-gray-500 dark:text-gray-400 text-start">Fecha devolución</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(prestamo of prestamos(); track prestamo.id_solicitud) { 
                      <tr class="border-b last:border-b-0 border-gray-100 dark:border-gray-800 hover:bg-gray-50 dark:hover:bg-gray-800 transition">
                        <td class="p-1 text-center align-middle">
                          <div class="flex flex-row justify-start items-center ml-4 gap-1">
                            <img [src]="prestamo.liga_avatar" alt="User" class="w-8 h-8 rounded-full object-cover mb-1 border border-blue-200 dark:border-blue-700 shadow-sm">
                            <span class="text-[13px] font-medium text-gray-800 dark:text-gray-100">{{ prestamo.solicitante }}</span>
                          </div>
                        </td>
                        <td class="p-1 text-sm text-gray-700 dark:text-gray-300 text-start align-middle">{{ prestamo.componente }}</td>
                        <td class="p-1 text-sm text-gray-700 dark:text-gray-300 text-start align-middle">{{ prestamo.elemento }}</td>
                        <td class="p-1 text-xs text-gray-500 dark:text-gray-400 text-start align-middle whitespace-nowrap">{{ prestamo.fecha_registro | date: 'dd/MM/yyyy hh:mm a' }}</td>                        
                        <td class="p-1 text-xs text-gray-500 dark:text-gray-400 text-start align-middle whitespace-nowrap">
                            @if(prestamo.usuarioDevolucion) {
                          <div class="flex flex-row justify-start items-center ml-4 gap-1">
                            <img [src]="prestamo.ligar_avatarDevolucion" alt="User" class="w-8 h-8 rounded-full object-cover mb-1 border border-blue-200 dark:border-blue-700 shadow-sm">
                            <span class="text-[13px] font-medium text-gray-800 dark:text-gray-100">{{ prestamo.usuarioDevolucion }}</span>
                          </div>
                        }                          
                        </td>
                        <td class="p-1 text-xs text-gray-500 dark:text-gray-400 text-start align-middle whitespace-nowrap">{{ prestamo.fechaDevolucion | date: 'dd/MM/yyyy hh:mm a'   }}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
      </div>
        }
        
    </div>