/* :host {
  display: block;
} */



:host ::ng-deep .p-togglebutton   {      
  border: 1px solid !important;
  border-radius :8px !important;;  
  padding: 6px;   
    width: 220px !important; 
    height: 40px !important;
  margin: 3px!important;  
  font-size: 0.7rem;
  font-weight: 600;
}

:host ::ng-deep .p-selectbutton{
  display:block !important;
}


:host ::ng-deep .p-disabled{
  cursor: not-allowed !important;
  pointer-events: auto !important;
}




