<div id="initial" class="dark:bg-gray-900 h-screen p-4">
  <h2
    class="text-2xl font-semibold mb-2 text-gray-800 dark:text-gray-100 tracking-tight"
  >
    Prestamo de elementos
  </h2>

<div
    *ngIf="isLoading"
    class="absolute inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="flex flex-col items-center">
      <svg
        class="animate-spin h-12 w-12 text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8v8H4z"
        ></path>
      </svg>
      <p class="mt-4 text-white text-lg font-semibold">Procesando...</p>
    </div>
  </div>

  @if (solicitudActual().orderSelected===null) {
  <search-metrics
    [typeSearch]="type"
    (onSelectOrder)="onSelectOrder($event)"
    class="mb-4"
  />
  } @if(solicitudActual().orderSelected){
  <div class="grid grid-cols-5 space-x-2">
    <div
      class="w-full mx-auto mt-4 bg-white dark:bg-slate-800 rounded-xl shadow-lg col-span-2"
    >
      <div class="py-6 px-6">
        <div class="flex items-center justify-between">
          <h1 class="text-lg font-bold text-slate-900 dark:text-white">
            Componentes
          </h1>
          <button
            (click)="clearSelectedOrder()"
            type="button"
            class="ml-4 text-slate-400 hover:text-slate-600 dark:text-slate-500 dark:hover:text-slate-300"
          >
            <span class="sr-only">Cerrar</span>
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <hr class="my-4 border-slate-200 dark:border-slate-700" />
        <div class="grid grid-cols-1 gap-x-4 gap-y-4 text-sm">          
            <div class="flex justify-between">
              <dt class="font-medium text-slate-500 dark:text-slate-400">
                No. Orden {{ selectedOrder()!.NoOrden }}
              </dt>
              <dd class="mt-1 text-slate-900 dark:text-slate-300">
              {{ selectedOrder()!.NombreTrabajo }}
            </dd>            
          </div>
        </div>
        <div class="flex flex-col text-sm mt-6">
          <p-listbox
            [options]="componentes"
            filterPlaceHolder="Buscar componente"
            optionLabel="descripcion"
            [filter]="true"
            scrollHeight="30rem"
            class="w-full"
            (onChange)="onChangeSelectComponent($event)"
          />
        </div>
      </div>
    </div>
    @if(componenteSeleccionado()){
    <div
      class="w-full mx-auto mt-4 bg-white dark:bg-slate-800 rounded-xl shadow-lg col-span-3"
    >
      <div class="py-6 px-6">
        <div class="flex items-center justify-between">
          <h1 class="text-lg font-bold text-slate-900 dark:text-white">
            Elementos
          </h1>
          <button
            [disabled]="!tieneInformacionSeleccionado()"
            (click)="registrarPrestamo()"
            class="border border-slate-300 rounded-md px-2 py-1 text-sm bg-purple-500 text-white disabled:bg-slate-200 disabled:text-slate-400 dark:disabled:bg-slate-700 dark:disabled:text-slate-500"
          >
            Registrar prestamo
          </button>          
        </div>
        <hr class="my-4 border-slate-200 dark:border-slate-700" />
        <div class="flex flex-col gap-4 text-sm mt-6">          
          <div *ngIf="solicitudActual()?.componentes?.length">
            <ul class="space-y-1">
              @for( item of componenteSeleccionado(); track
              item.componente) {
              <li class="border-b border-slate-200 dark:border-slate-700 pb-2">

                <div class="flex justify-between">
                  <h2 class="text-xl text-purple-500 ">{{ item.componente }}</h2>                
                   <button  (click)="toogleSeleccion()" class="border border-slate-300 w-36 rounded-md px-2 py-1  text-bold">
                  <span >
                    {{ !todos ? 'Desmarcar todos' : 'Marcar todos' }}
                  </span>
        </button>
                </div>
                
                <div class="border rounded-sm mt-2 p-2">
                  <p-selectbutton
                  (onChange)="seleccionarElemento($event,item.componente)" 
                    [options]="item.elementos"
                    [ngModel]="item.idSeleccionados"
                    optionDisabled="isDisabled"
                    size="small"                    
                    [multiple]="true"
                    optionLabel="descripcion"
                    size="small"
                  >                    
                  </p-selectbutton>
                </div>                
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  <pre class="text-xs text-gray-500 dark:text-gray-400 mt-4 h-96 overflow-y-auto">
  {{ solicitudActual().componentes | json }}
</pre>
  }  
</div>
