 <div class="relative">

  @if(cargando()){
<loading > </loading>
  }
 @else{
<div id="initial" class="flex flex-col max-w-7xl mx-auto">
    <div class="py-1 px-2 w-full flex justify-between  sm:flex-row flex-col sm:space-x-6">
        <h1 class="text-2xl text-slate-500" style="white-space: nowrap">Omisiones</h1>
         <button 
         (click)="cargarInformacion()"
         class="ml-auto h-8 mt-1 sm:mt-0 bg-blue-500 hover:bg-blue-600 text-white px-4 rounded-md font-medium transition-colors duration-200 flex items-center gap-2">
           <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path>
  </svg>
  Actualizar
</button>
      </div>
      <div class="px-1 overflow-auto">
        <ejs-grid
        #grid
        [dataSource]="ordenesOmitidas()"
        
        [filterSettings]="filterSettings"
        [allowTextWrap]="true"
        [enableAdaptiveUI]="false"
        [enableHover]="true"
        rowHeight="30"
        (dataBound)="dataBound()"
        [allowExcelExport]="true"
        [height]="heightGrid"
        allowReordering="true"
        [allowFiltering]="true"
        allowPaging="true "
        allowResizing="true"
        allowSorting="true"        
        [pageSettings]="pageSettings"
      >
      <e-columns>
        <e-column field="orden" headerText="Orden" textAlign="Center" width="100" >
          <ng-template #template let-data>
            <div (click)="verDetalle(data)" class="text-wrap text-blue-600 cursor-pointer">{{data.orden  }}</div>
          </ng-template>
        </e-column>
        <e-column field="enMesaControl" headerText="enMesaControl" width="80" ></e-column>
        <e-column field="faltantes" headerText="faltantes" width="80" ></e-column>
        <e-column field="Trabajo" headerText="trabajo">
          <ng-template #template let-data>
            <div class="text-wrap">{{data.trabajo | truncate:25 }}</div>
            </ng-template>
        </e-column>
        <e-column field="cliente" headerText="Cliente"  >
          <ng-template #template let-data>
            <div class="text-wrap">{{data.cliente | truncate:25 }}</div>
          </ng-template>
        </e-column>                
      </e-columns>
      </ejs-grid>
    </div>      
    </div>
} 
    </div>
