<div class="w-full h-full flex flex-col pt-10">
    <ejs-grid #grid [dataSource]='ordenesMetrics()'
    [textWrapSettings]='wrapSettings'
     [filterSettings]="filterSettings " (dataBound)='dataBound()'
        [allowExcelExport]='true' AutoFitAll="false" [height]="heightGrid" allowReordering='true' [allowFiltering]=true
        allowPaging="true " allowResizing="true" allowSorting="true" [pageSettings]='pageSettings'>
        <e-columns>
            <e-column field='NoOrden' [allowFiltering]="true" headerText='Orden' width=100>
            </e-column>
            <e-column field='TipoProd' [allowFiltering]="true" headerText='Tipo' width=80>
            </e-column>
            <e-column field='NumCliente' [allowFiltering]="true" headerText='# cliente' width=110>
            </e-column>
            <e-column field='NombreCliente' [allowFiltering]="true" headerText='Cliente' width=250>
            </e-column>
            <e-column field='Vendedor' [allowFiltering]="true"  width=250>
            </e-column>
            <e-column field='CantidadEntregar' [allowFiltering]="true" headerText='Cantidad entregar' width=100>
                <ng-template #template let-data>
                    <div class="flex flex-col">
                        <span>{{data.CantidadEntregar | number:'1.0-0'}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='SituacionOrden' [allowFiltering]="true" headerText='Situacion' width=100>
            </e-column>
            <e-column field='EstatusOrden' [allowFiltering]="true" headerText='Estatus' width=120>
            </e-column>
            <e-column field='FechaEmision' [allowFiltering]="false" headerText='Emision' width=100>
                <ng-template #template let-data>
                    <div class="flex flex-col">
                        <span>{{data.FechaEmision | date:'dd-MM-yyyy'}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='FechaEntrega' [allowFiltering]="false" headerText='Entrega' width=110>
                <ng-template #template let-data>
                    <div class="flex flex-col">
                        <span>{{data.FechaEntrega | date:'dd-MM-yyyy'}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column  [allowFiltering]="false" headerText='Prueba de color' width="*">
                <ng-template #template let-data>
                    <div class="flex flex-row">
                        <!-- <p-toggleswitch [ngModel]="true"  [disabled]="true"/> -->
                        <img src="assets/img/audit.svg" alt="Color" class="w-6 h-6 ml-2" />

                    </div>
                </ng-template>
            </e-column>
            <e-column  [allowFiltering]="false" headerText='Dummy blanco' width="*">
                <ng-template #template let-data>
                    <div class="flex flex-row">
                        <!-- <p-toggleswitch [ngModel]="true" [disabled]="true" /> -->
                        <img src="assets/img/audit.svg" alt="Color" class="w-6 h-6 ml-2" />
                    </div>
                </ng-template>
            </e-column>
            <e-column  [allowFiltering]="false" headerText='Dummy vestido' width="*">
                <ng-template #template let-data>
                    <div class="flex flex-row">
                        <!-- <p-toggleswitch [ngModel]="true" [disabled]="true" /> -->
                        <img src="assets/img/audit.svg" alt="Color" class="w-6 h-6 ml-2" />
                    </div>

                </ng-template>
            </e-column>
            <e-column  [allowFiltering]="false" headerText='Maqueta' width="*">
                <ng-template #template let-data>
                    <div class="flex flex-row">
                        <!-- <p-toggleswitch [ngModel]="true"  [disabled]="true"/> -->
                        <img src="assets/img/audit.svg" alt="Color" class="w-6 h-6 ml-2" />
                    </div>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
 </div>