<div class="relative">
  @if(cargando() ){
    <loading/>
  } @else {
  <div id="initial" class="flex flex-col">
    <div class="py-1 px-2 flex sm:flex-row flex-col sm:space-x-6">
      <h1 class="text-2xl text-slate-500" style="white-space: nowrap">
        {{ titulo() }}
      </h1>
      @if(verPendientes()){
      <div class="w-full">
        <search-metrics
          placeholder="Registrar OP"
          [typeSearch]="type"
          (onSelectOrder)="onSelectOrder($event)"
        ></search-metrics>
      </div>
      }
    </div>
    <div class="px-1 overflow-auto">
      <ejs-grid
        #grid
        [dataSource]="ordenesMetrics()"
        [textWrapSettings]="wrapSettings"
        [filterSettings]="filterSettings"
        [allowTextWrap]="true"
        [enableAdaptiveUI]="false"
        [enableHover]="true"
        rowHeight="30"
        (dataBound)="dataBound()"
        [allowExcelExport]="true"
        [height]="heightGrid"
        allowReordering="true"
        [allowFiltering]="true"
        allowPaging="true "
        allowResizing="true"
        allowSorting="true"
        
        [pageSettings]="pageSettings"
      >
        <e-columns>
          <e-column
            field="NoOrden"
            [allowFiltering]="true"
            headerText="Orden"
            width="100"
          >
          </e-column>
          @if(verPendientes()){
          <e-column
            field="TipoProd"
            [allowFiltering]="true"
            headerText="Tipo"
            width="80"
          >
          </e-column>
        }
          <e-column
            field="NombreTrabajo"
            [allowFiltering]="true"
            headerText="Nombre de trabajo"
            width="200"
          >
          <ng-template #template let-data>
              <div class="flex flex-col">
                <div  [title]="data.NombreTrabajo">{{ data.NombreTrabajo | truncate:25 }}</div>                
              </div>
            </ng-template>
          </e-column>
          <e-column
            field="NombreCliente"
            [allowFiltering]="true"
            headerText="Cliente"
            width="170"
          >
          <ng-template #template let-data>
              <div class="flex flex-col">
                <div  [title]="data.NombreCliente">{{ data.NombreCliente | truncate:20 }}</div>                
              </div>
            </ng-template>
          </e-column>
          @if(!verPendientes()){
          <e-column [allowFiltering]="false" headerText="Marbete" width="80">
            <ng-template #template let-data>              
                <button (click)="descargarPDF(data)" class="w-8 h-8">                            
                  <pdf-svg></pdf-svg>                  
                </button>
            </ng-template>
          </e-column>          
        }
          @if(verPendientes()){
          <e-column
            field="CantidadEntregar"
            [allowFiltering]="true"
            headerText="Cant"
            width="80"
          >          
            <ng-template #template let-data>
              <div class="flex flex-row justify-end pr-3">
                <div>{{ data.CantidadEntregar | number }} </div>
              </div>
            </ng-template>
          </e-column>
        }
          @for(col of columnasAuditoria; track col.indice) {
          <e-column [width]="150">
            <ng-template #headerTemplate>
              <div class="flex flex-col items-center justify-center">
                <p class="font-light text-[8px]" >{{ col.titulo }}</p>
                <div class="text-[10px] font-bold" [ngClass]="col.color">{{ col.subtitulo }}</div>
              </div>
            </ng-template>
            <ng-template #template let-data>
              @let estaHabilitado=esAuditHabilitado(data, col); 
              @let colorSVG=colorChecklist(data,col); 
              @let liberacion=fechaLiberacion(data,col); 
              @let sepuedeVisualizar=estaHabilitado || liberacion ; 
              @let id_checkActual=getCheckListKey(data,col); 
              @if (data.id_checklist_actual) {
              <div class="flex w-full py-0.5">
                <div class="w-full h-full flex flex-row items-center rounded-lg shadow bg-white dark:bg-gray-800 px-1  py-0.5"
                  [ngClass]="sepuedeVisualizar ? 'cursor-pointer' : 'cursor-not-allowed'"
                  (click)="sepuedeVisualizar? ir(data,{id_checkActual,liberacion}) : null">
                  <audit-svg [color]="colorSVG" [enabled]="sepuedeVisualizar" />
                  <div class="text-[9px] text-gray-500 dark:text-white text-center w-full">
                    @if(liberacion){
                    {{ liberacion | date : "dd-MM-yyyy HH:mm" }} hrs }
                    @else{
                    <span>--------</span>
                    }
                  </div>
                </div>
              </div>
              }@else{                
              <div class="flex flex-row gap-2 text-center text-pink-900">
                ---------
              </div>
              }
            </ng-template>
          </e-column>
          }
          <e-column
            [allowFiltering]="false"
            textAlign="Center"
            headerText="Liberación de sobre"
            width="150"
          >
            <ng-template #template let-data>
              @let sepuedeVisualizar=data.sePuedeVisualizarSobre; 
              @let colorSVG=data.colorCheckListSobreLiberacion; 
              @let liberacion=data.liberacionRutas;
              <div class="flex w-full  py-1">
                <div class="w-full h-full flex flex-row items-center rounded-lg shadow bg-white dark:bg-gray-800"
                  (click)="sepuedeVisualizar ? irRutas(data) : null"
                  [ngClass]="sepuedeVisualizar ? 'cursor-pointer' : 'cursor-not-allowed'">
                  <audit-svg [color]="colorSVG" [enabled]="sepuedeVisualizar" />
                  <div class="text-[9px] text-gray-500 dark:text-white text-center w-full">
                    @if(liberacion){
                    {{ liberacion | date : "dd-MM-yyyy HH:mm" }} hrs }
                    @else{
                    <span>--------</span>
                    }
                  </div>
                </div>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
  }

  <p-dialog
    header="Editar Orden"
    [modal]="true"
    [visible]="puedeDefinirOrdenMetrics()"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <ng-template #headless>
      <form
        (ngSubmit)="guardarOrdenMetricsPorDefinir()"
        #formOrden="ngForm"
        class="p-8"
      >
        <!-- Campos informativos de la OP -->
        <div
          class="mb-6 grid sm:grid-cols-2 text-gray-700 dark:text-white gap-4"
        >
          <div>
            <label class="block mb-1 text-sm font-medium">N° Orden</label>
            <input
              type="text"
              class="block w-full px-3 py-2 border border-gray-300 rounded dark:text-slate-700 bg-gray-100"
              [value]="ordenMetricsPorDefinir()?.NoOrden"
              disabled
            />
          </div>
          <div>
            <label class="block mb-1 text-sm font-medium">Vendedor</label>
            <input
              type="text"
              class="block w-full px-3 py-2 border border-gray-300 rounded dark:text-slate-700 bg-gray-100"
              [value]="ordenMetricsPorDefinir()?.NombreTrabajo"
              disabled
            />
          </div>

          <div>
            <label class="block mb-1 text-sm font-medium">Cliente</label>
            <input
              type="text"
              class="block w-full px-3 py-2 border border-gray-300 rounded dark:text-slate-700 bg-gray-100"
              [value]="ordenMetricsPorDefinir()?.NombreCliente"
              disabled
            />
          </div>

          <div>
            <label class="block mb-1 text-sm font-medium"
              >Cantidad a entregar</label
            >
            <input
              type="text"
              class="block w-full px-3 py-2 border border-gray-300 rounded dark:text-slate-700 bg-gray-100"
              [value]="
                ordenMetricsPorDefinir()?.CantidadEntregar | number : '1.0-0'
              "
              disabled
            />
          </div>
          <div>
            <label class="block mb-1 text-sm font-medium">Vendedor</label>
            <input
              type="text"
              class="block w-full px-3 py-2 border border-gray-300 rounded dark:text-slate-700 bg-gray-100"
              [value]="ordenMetricsPorDefinir()?.Vendedor"
              disabled
            />
          </div>
          <div>
            <label class="block mb-1 text-sm font-medium">Estatus</label>
            <input
              type="text"
              class="block w-full px-3 py-2 border border-gray-300 rounded dark:text-slate-700 bg-gray-100"
              [value]="ordenMetricsPorDefinir()?.EstatusOrden"
              disabled
            />
          </div>

          <div>
            <label class="block mb-1 text-sm font-medium">Fecha Emisión</label>
            <input
              type="text"
              class="block w-full px-3 py-2 border border-gray-300 rounded dark:text-slate-700 bg-gray-100"
              [value]="
                ordenMetricsPorDefinir()?.FechaEmision | date : 'dd-MM-yyyy'
              "
              disabled
            />
          </div>
          <div>
            <label class="block mb-1 text-sm font-medium">Fecha Entrega</label>
            <input
              type="text"
              class="block w-full px-3 py-2 border border-gray-300 rounded dark:text-slate-700 bg-gray-100"
              [value]="
                ordenMetricsPorDefinir()?.FechaEntrega | date : 'dd-MM-yyyy'
              "
              disabled
            />
          </div>
        </div>
        <div class="mb-6">
          @if(ordenMetricsPorDefinir()?.TipoProd!=null){
          <label
            class="block mb-2 text-sm font-medium text-gray-700 dark:text-white"
            >Código de producto: {{ ordenMetricsPorDefinir()?.TipoProd }}</label
          >
          }@else{
          <span
            class="block mb-2 text-sm font-medium text-white bg-pink-600 p-2 rounded-md"
            >Código de producto:
            <b>{{ ordenMetricsPorDefinir()?.TipoProdReal }}</b> no es
            reconocido, favor de especificar</span
          >
          }
        </div>

        <div class="mb-6 text-gray-700 dark:text-white">
          <label for="tipoProd" class="block mb-2 text-sm font-medium"
            >Tipo de producto</label
          >
          <select
            [ngModel]="ordenMetricsPorDefinir()?.TipoProd"
            (ngModelChange)="actualizarTipoProd($event)"
            id="tipoProd"
            name="tipoProd"
            required
            class="block w-full px-3 py-2 border border-gray-300 dark:text-slate-700 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            @if(ordenMetricsPorDefinir()?.TipoProd== null) {
            <option value="null" selected>Sin especificar</option>
            } @for( tipo of catalogoTiposProductos(); track tipo.id ) {
            <option [value]="tipo.id">{{ tipo.value }}</option>
            }
          </select>
        </div>
        <div class="flex justify-end gap-4">
          <button
            type="button"
            [disabled]="guardandoOrdenMetrics()"
            (click)="cerrarOrdenMetricsPorDefinir()"
            class="px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 rounded shadow transition"
          >
            Cerrar
          </button>
          @if( !guardandoOrdenMetrics()){
          <button
            type="submit"
            [disabled]="ordenMetricsPorDefinir()?.TipoProd == null"
            class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded shadow transition disabled:bg-gray-300"
          >
            Guardar
          </button>
          }@else{
          <button
            type="button"
            class="flex items-center gap-2 px-4 py-2 bg-blue-600 text-white rounded shadow transition"
          >
            <svg
              class="animate-spin h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
              ></path>
            </svg>
            Guardando...
          </button>
          }
        </div>
      </form>
    </ng-template>
  </p-dialog>

  @if(mostrarCheckList()){
  <rollcall-modal (onClose)="cerrarModalCheckList()"></rollcall-modal>
  } @if(mostrarModalLiberacion()){
  <liberacion-modal
    [orden]="ordenLiberacion()"
    (onClose)="cerrarModalLiberacion()"
  ></liberacion-modal>
  }
</div>
