:host {
  display: block;
}
::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item{
  padding: 0.1rem 2rem;
}


::ng-deep .p-togglebutton   {      
  border: 1px solid !important;
  border-radius :8px !important;;  
  padding: 10px;    
  margin: 3px!important;  
}

::ng-deep .p-selectbutton{
  display:block !important;
}


::ng-deep .p-disabled{
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

